---
import type { CollectionEntry } from "astro:content";
import { formatDate, readingTime } from "@lib/utils";

import { Calendar, BookOpen, Globe, LinkIcon, ChevronLeft } from "lucide-react";

type Props = {
  entry: CollectionEntry<"projects"> | CollectionEntry<"blog">;
};

const { entry } = Astro.props;
const { collection, data, body } = entry;
const { title, summary, date } = data;

const demoUrl = collection === "projects" ? data.demoUrl : null;
const repoUrl = collection === "projects" ? data.repoUrl : null;
---

<div>
  <a
    href={`/${collection}`}
    class="group w-fit p-1.5 gap-1.5 text-sm flex items-center border rounded hover:bg-black/5 hover:dark:bg-white/10 border-black/15 dark:border-white/20 transition-colors duration-300 ease-in-out"
  >
    <ChevronLeft
      size={20}
      strokeWidth={2.5}
      className="stroke-current group-hover:stroke-black group-hover:dark:stroke-white transition-all duration-300 ease-in-out mr-1"
      aria-hidden="true"
    />
    <div
      class="w-full group-hover:text-black group-hover:dark:text-white transition-colors duration-300 ease-in-out"
    >
      Back to {collection}
    </div>
  </a>

  <div class="flex flex-wrap text-sm uppercase mt-12 gap-3 opacity-75">
    <div class="flex items-center gap-2">
      <Calendar
        size={20}
        strokeWidth={2.5}
        className="size-5 stroke-current"
        aria-hidden="true"
      />
      {formatDate(date)}
    </div>

    <div class="flex items-center gap-2">
      <BookOpen
        size={20}
        strokeWidth={2.5}
        className="size-5 stroke-current"
        aria-hidden="true"
      />
      {readingTime(body)}
    </div>
  </div>

  <h1 class="text-3xl font-semibold text-black dark:text-white mt-2">
    {title}
  </h1>

  <div class="article-content mt-1">
    {summary}
  </div>

  {
    (demoUrl || repoUrl) && (
      <div class="mt-4 flex flex-wrap gap-2">
        {demoUrl && (
          <a
            href={demoUrl}
            target="_blank"
            class="group flex gap-2 items-center px-3 py-1.5 truncate rounded text-xs md:text-sm lg:text-base border border-black/25 dark:border-white/25 hover:bg-black/5 hover:dark:bg-white/15 blend"
          >
            <Globe
              size={16}
              strokeWidth={2}
              className="size-4 stroke-current group-hover:stroke-black group-hover:dark:stroke-white"
              aria-hidden="true"
            />
            <span class="text-current group-hover:text-black group-hover:dark:text-white blend">
              See Demo
            </span>
          </a>
        )}

        {repoUrl && (
          <a
            href={repoUrl}
            target="_blank"
            class="group flex gap-2 items-center px-3 py-1.5 truncate rounded text-xs md:text-sm lg:text-base border border-black/25 dark:border-white/25 hover:bg-black/5 hover:dark:bg-white/15 blend"
          >
            <LinkIcon
              size={16}
              strokeWidth={2}
              className="size-4 stroke-current group-hover:stroke-black group-hover:dark:stroke-white"
              aria-hidden="true"
            />
            <span class="text-current group-hover:text-black group-hover:dark:text-white blend">
              See Repository
            </span>
          </a>
        )}
      </div>
    )
  }
</div>
